@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara:300);
@import url(https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed);
@import url(https://fonts.googleapis.com/css?family=Wire+One);

body {
    font-family: "Hind Vadodara";
    font-size: 16px;
}

h1 {
    font-family: Oswald;
    font-size: 65px;
}

p {
    color: darkgray;
    padding-bottom: 50px;
}

div#map { 
    height: 670px;
    padding: 10px;
    border-top-style: solid;
}

#category {
    font-size: 20px;
    font-family: "Stint Ultra Condensed";
}

#hit {
    color: #203E51;
    font-size: 18px !important;
}

#killed {
    color: #9F4464;
    font-size: 18px !important;
}

table tr#stats {
    font-family: "Wire One" ;
    font-size: 50px;
}